 .App {
  text-align: center;
}

.beerLogo {
  max-width: 2rem;
  align-content: center;
}
.img-holder{
  
  display: flex;
  justify-content: center;
  height: 230px;
}
.beer-img{
  display: block;
  max-width:100px;
  max-height:250px;
  width: auto;
  height: auto;
  margin:5px
}

.beerCard{
  height: 550px;
  width:250px;
  border-style: solid;
  border-radius: 10px;
  margin:5px;
  color: black;
  text-align: center;
}
.cardHolder{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#country-flag {
  width: 20px
}
.card:hover {
  background-color:  #3b414d;
  cursor:pointer;
  transform: scale(1.05);
  color:white

}

#card-title {
  height: 50px;
}

#abv{
  border-radius: 50px;
  border-style: solid;
  border-width: 5px;
  font-size: large;
  font-weight:bolder;
}
#info-button {
  margin: 2px;
}

.beerCardBack {
  height: 350px;
  width:250px;
  border-style: solid;
  border-radius: 10px;
  margin:5px;
  color: black;
  text-align: center; 
}
#text-back {
  height:260px;
}